* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    background-color: lightgray;
    width: 100vw;
    height: 15vh;
    padding: 5px;
}
h1 {
    color: green;
}
nav {
    margin: 0 auto;
    width: 30vw;
    display: flex;
    justify-content: space-around;
}
a {
    text-decoration: none;
}
main {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    width: 100vw;
    height: 80vh;
}
.lateral{
    padding: 5px;
    width: 20rem;
    height: 80vh;
    background-color: grey;
    text-align: justify;
}
.centro {
    text-align: justify;
    width: 60rem;
    display: flex;
    flex-direction: column;
}
article {
    padding: 4px;
    border: 3px solid green;
}
article:nth-child(2) {
    margin-top: 5vh;
}
footer {
    position: fixed;
    height: 5vh;
    width: 100vw;
    background-color: black;
    color: white;
    padding: 5px;
}

@media screen and (max-width: 720px) {
    main {
        flex-direction: column;
    }
    .centro, .lateral {
        width: 100vw;
        height: 30vh;
    }
}